body{
    background-color: black;
}
h1{
    background-color: black;
    padding: 60px;
    text-align: center;    
    color: white;
    font-size: 50px; 
    font-family: 'Anek Tamil', sans-serif;
    border-style: solid ;
   

   
}
.caja{
    margin-left: 520px;
    font-family: 'Anek Tamil', sans-serif;
    color: white;
    
}
button{
    margin-top: 20px;
    margin-left: 15px;
    font: 'Anek Tamil', sans-serif;
    font-size: 30px;
    background-color: grey;
    height: 69px;
    width: 200px;
    border-radius: 12px;
}
input{
    width: 150px;
    height: 30px;
    margin-left: 29px;
    font-size: 20px;
}

.caja {
    border-style: solid;    
    margin-left: 10px;
    padding-left: 480px;
}
.caja1{
    background-color: gray;
    width: 1200px;
    height: 270px;
    margin-left: -460px;
    border-radius: 15px;
    margin-top: 12px;
    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;  
 
    
 }
   

p{
    margin-left: 450px;
    font-size: 20px;
    color: black;
    margin-top: 6px;
}
